/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Exo:wght@400;500;600&display=swap");

/*=============== REUSABLE CSS CLASSES ===============*/
@import "./reusable.css";

/*=============== HEADER & NAV ===============*/
@import "./navbar.css";

/*=============== HOME ===============*/
@import "./home.css";

/*=============== ABOUT ===============*/
@import "./about.css";

/*=============== POPULAR ===============*/
@import "./popular.css";

/*=============== FEATURES ===============*/
@import "./features.css";

/*=============== FEATURES ===============*/
@import "./featuredCars.css";

/*=============== OFFER ===============*/
@import "./offer.css";

/*=============== OFFER ===============*/
@import "./logos.css";

/*=============== FOOTER ===============*/
@import "./footer.css";

:root {
  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Exo", sans-serif;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(219, 69%, 56%);
  --first-color-alt: hsl(219, 69%, 52%);
  --title-color: hsl(219, 8%, 95%);
  --text-color: hsl(219, 8%, 75%);
  --text-color-light: hsl(219, 4%, 55%);
  --white-color: #fff;
  --body-color: hsl(219, 4%, 4%);
  --container-color: hsl(219, 4%, 7%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Exo", sans-serif;
  --h1-font-size: 1.2rem;
  --h2-font-size: 1rem;
  --h3-font-size: 0.9rem;
  --normal-font-size: 0.8rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;

  /*========== IMAGE ===========*/
  --min-width: 220px;

  /*========== Header ==========*/
  --header-height: 3.5rem;
}

@media screen and (min-width: 968px) {
  :root {
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

@media screen and (min-width: 500px) {
  :root{
    --h1-font-size: 2rem;
    --h2-font-size: 1.2rem;
    --h3-font-size: 1.1rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.75rem;
    --smaller-font-size: 0.713rem;

  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

a{
  text-decoration: none;
  color: inherit;
}

ul{
  list-style: none;
  text-decoration: none;
  color: inherit;
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar{
  width: .6rem;
  background-color: hsl(219, 4%, 16%);
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb{
  background-color: hsl(219, 4%, 24%);
  border-radius: 1rem;
}
::-webkit-scrollbar-thumb:hover{
  background-color: hsl(219, 4%, 32%);
}

